p {
    line-height: 1.5;
}

body {
    width: 80ch;
}

.shortcuts li a {
 min-height: 24px;
 line-height: 1.5;
 padding: 12px;
}

p.shortcuts {
 min-height: 24px;
 line-height: 1.5;
 padding: 12px;
}

h2,h3 {
    min-height: 44px;
    line-height: 1.5;
}

h2 a {
    font-size: 28px;
    padding: 10px;
}

h3 a {
    font-size: 24px;
    padding: 10px;
}
