p {
    line-height: 1.5;
}

body {
    width: 80ch;
}

.shortcuts li a {
 display: inline-block;
 min-height: 24px;
 font: 24px;
 line-height: 1.5;
 padding: 12px;
}

p.shortcuts a {
    display: inline-block;
    min-height: 24px;
    font: 24px;
    line-height: 1.5;
    padding: 12px;
}

dl > dd > a {
 display: inline-block;
 min-height: 24px;
 line-height: 1.5;
 padding: 12px;
}

h2,h3 {
    min-height: 44px;
    line-height: 1.5;
}

h2 a {
    display: inline-block;
    font-size: 28px;
    padding: 10px;
}

h3,h4 a {
    display: inline-block;
    font-size: 24px;
    padding: 12px;
}
